/* .form{
    width: 100%;
    padding: 12px 20px;
    margin-block-end: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center; 
} */
body{
  height: 100vh;
  /* height: auto; */
}
.col-md-6{
  box-shadow: lightblue;

}
.input-box{
  width: 90%;
  border-radius: 25px;

}
/* .button{
  width: 100%;
} */
 .button {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} 
.buttons{
  /* margin: 8px 0 ; */
  /* padding: 14px 20px; */
  background-color: rgb(188, 113, 223);
 
  /* color: blue; */
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
  text-align: center;
  border-radius: 25px;
}
/* .border{
color: rgb(82, 22, 138);
border-radius: 50px;
} */

div.hr {
  background: #484040  no-repeat scroll center;
  /* margin-left: 15em; */
  /* margin-right: 15em; */
  /* width:50em; */
  height:.03em;
  }
/*     
  div.hr hr {
  display: none;
  } */
.form-error{
  color: red;
}

